@import "tailwindcss";
@import "react-big-calendar/lib/css/react-big-calendar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overwrites globales */
html,
body {
  margin: 0;
  padding: 0;
}